@mixin animation-params {
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.logo-wrapper {
  span {
    display: none;
  }
  &::after {
    content: image-url("smiles/icon.svg");
    position: absolute;
    display: block;
    left: 8em;
    top: 1em;

    animation: animated-logo-hider;
    @include animation-params;
  }

  &::before {
    content: image-url("smiles/smiles.svg");
    position: absolute;
    display: block;
    left: 1em;
    top: 1em;

    animation: animated-logo-hide;
    @include animation-params;
  }
}

@keyframes animated-logo-hider {
  0% {
    left: 8em;
  }
  100% {
    left: 1em;
  }
}
@keyframes animated-logo-hide {
  0% {
    clip-path: inset(0 0 0 7em);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
