$strato-grey: #CBC9CA;
$strato-grey-rgb: 203, 201, 202;
$strato-light: #E4E4FC;
// $strato-light: #F4FAFF;
$strato-light-rgb: 228, 228, 252;
$strato-black: #0C0C0C;
$strato-black-rgb: 0,0,0;
$strato-red: #E3534A;
$strato-red-rgb: 227, 83, 74;
$strato-blue: #4338F4;
$strato-blue-rgb: 67, 56, 244;
$strato-lilac: #7079FA;
$strato-lilac-rgb: 112, 121, 250;
$strato-dark: #46465E;
$strato-dark-rgb: 70, 70, 94;
$strato-yellow: #FFB627;
$strato-green: #99C24D;

$anchor-color: #89B6A5;
$anchor-color-rgb: $strato-lilac-rgb;
$body-background-color: #fafafa;
$navbar-color: $strato-black;
$navbar-rgb: $strato-black-rgb;
$title-bar-color: $strato-dark;
$title-bar-rgb: $strato-dark-rgb;
$menu-bg: $strato-dark;
$menu-bg-light: $strato-lilac;

// Randomizer for the strato border
$stratoindex: 0;
